* {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

html,
body,
#root {
  width: 100%;
  height: 100%;
}

:root {
  --white: #ffffff;
  --dark: rgba(0, 0, 0, 0.8);
  --dark-opacity: rgba(0, 0, 0, 0.6);
  --grey: rgba(0, 0, 0, 0.4);
  --base-input: #e6e6e6;
  --base-title: #48445a;
  --base-text: #9b9aa0;
  --purple: #837ff8;
  --purple-hover: #7c79eb;
}

body,
::placeholder {
  font-family: 'Poppins', sans-serif;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  border: 0;
  outline: none;
}