.short_client_item {
  width: 100%;
  border: 1px solid var(--base-input);
  padding: 30px 35px;
  border-radius: 15px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.short_client_item .short_client_content {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.short_client_item .short_client_content .short_client_content_item {
  display: flex;
  flex-wrap: wrap;
  gap: 13px;
}

.short_client_item .short_client_content .dot {
  content: '';
  width: 8px;
  height: 8px;
  background-color: var(--purple);
  border-radius: 30px;
  margin-top: 8px;
}

.short_client_item .short_client_content h4 {
  color: var(--base-title);
  font-weight: 500;
  font-size: 15px;
  margin: 0;
  padding: 0;
}

.short_client_item .short_client_content p {
  color: var(--base-text);
  font-size: 14px;
  margin: 0;
  margin-top: 3px;
}

.short_client_item .short_client_actions {
  display: flex;
  gap: 20px;
  margin-top: 30px;
}

.short_client_item .short_client_actions .short_client_button {
  flex: 1;
  border: 0;
  padding: 0;
  margin: 0;
  background: transparent;
  outline: none;
  text-align: center;
  cursor: pointer;
  height: 35px;
  border-radius: 5px;
  border: 1px solid var(--purple);
  color: var(--purple);
  font-size: 14px;
}

.short_client_item .short_client_actions .short_client_button:last-child {
  flex: 1;
  border: 0;
  padding: 0;
  margin: 0;
  background: transparent;
  outline: none;
  text-align: center;
  cursor: pointer;
  height: 35px;
  border-radius: 5px;
  border: 1px solid var(--red);
  color: var(--red);
  font-size: 14px;
}