.random_users {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  margin-top: 50px;
}

.random_users header {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid var(--base-input);
  margin-bottom: 20px;
}

.random_users header svg {
  color: var(--base-text);
  font-size: 20px;
  margin-left: -30px;
  margin-bottom: -5px;
}

.random_users h1 {
  margin-top: 15px;
  font-size: 30px;
}

.random_users input {
  outline: none;
  width: 100%;
  margin-top: 15px;
  margin-bottom: 15px;
  border: none;
  height: 40px;
  border-radius: 3px;
  font-size: 14px;
  padding: 0 20px;
  color: var(--base-text);
  background-color: var(--base-input);
  padding-right: 10px;
}

.random_users .list {
  margin-top: 40px;
  width: 100%;
}

.random_users .list {
  margin-top: 40px;
  width: 100%;
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(2, 1fr);
  padding-bottom: 40px;
}

.random_users .filter_not_found {
  width: 100%;
  text-align: center;
  color: var(--base-title);
  margin-top: 200px;
}

.pagination {
  position: relative;
  list-style: none;
  text-align: center;
  padding: 0;
  padding-bottom: 50px;
}

.pagination li {
  display: inline-block;
  padding: 0 10px;
  color: var(--base-title);
  font-size: 18px;
  cursor: pointer;
}

.pagination .next,
.pagination .previous {
  position: absolute;
  top: 1px;
  margin-left: -17px;
}

.pagination .next {
  margin-left: -3px;
}

.pagination .disabled {
  color: var(--base-text);
}

.filter_not_found {
  text-align: center;
}

@media(max-width: 1250px) {
  .random_users {
    padding: 0 30px;
  }
}

@media(max-width: 1050px) {
  .random_users {
    max-width: 650px;
  }

  .random_users .list {
    grid-template-columns: repeat(2, 1fr);
  }

  .random_users h1 {
    font-size: 26px;
    margin-top: 19px;
  }
}

@media(max-width: 650px) {
  .random_users .list {
    grid-template-columns: repeat(1, 1fr);
  }

  .random_users header {
    display: flex;
    flex-direction: column;
    border-bottom: none;
    margin-bottom: 0;
  }

  .random_users h1 {
    text-align: center;
    margin-bottom: 15px;
  }

  .random_users .list {
    margin-top: 0;
  }

  .random_users h1 {
    font-size: 26px;
    margin-top: 17px;
  }
}

@media(max-width: 480px) {
  .random_users {
    padding: 0 20px;
  }

  .random_users header h1 {
    font-size: 22px;
  }

  .random_users header {
    align-items: center;
  }

  .random_users header div {
    max-width: 300px;
    width: 100%;
  }

  .random_users header div input {
    width: 100%;
  }
}