.navigation {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  margin-top: 30px;
  display: flex;
  justify-content: space-between;
}

.navigation div {
  display: flex;
  gap: 5px;
  color: var(--base-text);
}

.navigation div a {
  text-decoration: none;
  color: var(--base-text);
  font-size: 15px;
}

.navigation div svg {
  margin-top: 4px;
}

@media(max-width: 1250px) {
  .navigation {
    padding: 0 30px;
  }
}

@media(max-width: 500px) {
  .navigation div a {
    font-size: 13px;
  }

  .navigation div svg {
    margin-top: 3px;
    font-size: 13px;
  }
}