.client_item {
  width: 100%;
  border: 1px solid var(--base-input);
  padding: 50px 45px;
  border-radius: 15px;
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
}

.client_item .client_content {
  flex: 9;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 50px;
}

.client_item .client_content .client_content_item {
  display: flex;
  gap: 10px;
}

.client_item .client_content .border {
  content: '';
  width: 1px;
  height: 40px;
  background-color: var(--purple);
  border-radius: 30px;
}

.client_item .client_content h4 {
  text-align: left;
  color: var(--base-title);
  font-weight: 400;
  font-size: 15px;
  margin: 0;
  padding: 0;
}

.client_item .client_content p {
  color: var(--base-text);
  font-size: 14px;
  margin: 0;
  font-weight: normal;
}

.client_item .client_item_actions {
  display: flex;
  gap: 15px;
  justify-content: flex-end;
  align-items: flex-start;
  width: 100%;
  flex: 1;
}

.client_item .client_item_actions button {
  background-color: transparent;
  border: none;
  outline: none;
  display: flex;
  cursor: pointer;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
  transition: all .2s ease;
}

.client_item .client_item_actions button:hover {
  transition: all .2s ease;
  filter: brightness(0.8);
}

.client_item .client_item_actions button svg {
  color: var(--red);
  font-size: 17px;
}

.client_item .client_item_actions button:first-child svg {
  color: var(--purple);
  font-size: 23px;
  margin-top: -2px;
}

@media(max-width: 700px) {
  .client_item .client_content {
    grid-template-columns: repeat(1, 1fr);
  }
}

@media(max-width: 400px) {
  .client_item {
    padding: 20px 20px;
  }

  .client_item .client_item_actions {
    gap: 5px;
  }
}